/* grid */

.grid {
  display: grid;
}

.grid-cols-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
}

.col-start-2 {
  grid-column-start: 2;
}

.col-end-12 {
  grid-column-end: 12;
}

/* flex */

.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-4 {
  gap: 1rem;
}
.justify-between {
  justify-content: space-between;
}

.box-border {
  box-sizing: border-box;
}
